
install/dist/yandex-browser.rpm
install/dist/vipnetclient_ru_x86-64_4.13.1-17762.rpm
install/dist/vipnetclient-gui_ru_x86-64_4.13.1-17762.rpm
install/dist/vipnet_dns.sh
install/dist/r7-office_7.1.1.rpm
install/dist/proxy/smb.conf
install/dist/klnagent64-12.0.0-60.x86_64.rpm
install/dist/klnagent64-11.0.0-29.x86_64.rpm
install/dist/kesl-gui-11.2.0-4528.x86_64.rpm
install/dist/kesl-11.2.0-4528.x86_64.rpm
